@import '~bootstrap/scss/bootstrap';

@import '~@fontsource/source-sans-pro/index.css';

@import './vars';



// RESET

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

img{
    width: 100%;
    display: block;
}

li{
    list-style-type: none;
}

body{
    font-family: $main-font;
    background-color: $bg-main-color;
}

a{
    color: inherit;
    text-decoration: none; 
  }

a:hover{
color: inherit;
}  

// BOOTSTRAP RESET

ul{
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.svg-inline--fa{
    height: 2em;
}

// COMMONS

.ms_container {
    width: 65%;
    margin: 0 auto;
    min-width: 800px;
    position: relative;
}

.main_title{
    margin: 100px auto 0 auto;
    text-align: center;
    width: 40%;
}

.main_title p{
    color: $subtext-color
}

.ms_button{
   display: inline-block;
   text-align: center;
   background-color: $text-special;
   padding: 0.7rem 2rem;
   text-transform: uppercase;
   color: white;
   border-radius: 20px;
   font-weight: 900;
   font-size: 0.8rem;
   letter-spacing: 1px;
 }


.ms_card{
    padding: 0.5rem 2rem;
}

.active-link{
    color: $text-special;
}

.apply::after {
    font-size: 0.9rem;
    content: "Apply";
    color: $text-special;
    text-transform: uppercase;
    border: 1px solid $text-special;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    margin-left: 8px;
      }


h2{

    font-weight: 900;
    font-size: 2.8rem;
}

h3{
    font-weight: 900;
    font-size: 2rem;
}

h4{
    font-weight: 900;
    font-size: 1.4rem;
}

h5{
    font-weight: 900;
    font-size: 1.4rem;
}

.svg-inline--fa{
    height: 1.8em;
    color: $text-special;
}

p{
    font-size: 1rem;
    text-align: center;
}