@import '~bootstrap/scss/bootstrap';

@import '~@fontsource/source-sans-pro/index.css';

@import './vars';



// RESET

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

body {
    font-family: $main-font
}

// BOOTSTRAP RESET

ul{
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

// COMMONS

.ms_container {
    width: 65%;
    margin: 0 auto;
    min-width: 800px;
}

.main_title{
    margin: 100px auto 0 auto;
    text-align: center;
    width: 40%;
}

.ms_card{
    background-color: beige;
    padding: 0.5rem 2rem;
}

h2{

    font-weight: 900;
    font-size: 2.8rem;
}

h3{
    font-weight: 900;
    font-size: 2rem;
}

p{
    font-size: 1rem;
}