//TYPOGRAPHY
$main-font: "Source Sans Pro", sans-serif;

//COLORS
$bg-main-color:  #f7f8fa;
$bg-secondary-color: #051642;

$card-color: #071b50;
$text-first: #000;
$text-second: white;
$subtext-color: #5d5c5d;
$text-special: #ffa837;
$text-blue: #0369d7;
$text-deep-blue: #607afe;
$thin-line: #bcbbbc;


